div {
    display: flex;
    justify-content: center;
  }
  
  img {
    width: 60%;
  }

  input{
    width: 150px;
  }

  .error-div{
    background-color: #F5AD6E;
    color: rgb(49, 48, 48);
    text-align: center;
  }