<router-outlet></router-outlet>

<div class="container">

  <div>
    <img src="./assets/planning_001.jpg">
  </div>

  <h1 class="title" *ngIf="!masterAddIdentifiant">
    Connexion à votre gestionnaire de planning
  </h1>
  <h1 class="title" *ngIf="masterAddIdentifiant">
    Accès maître - Ajout d'un nouvel identifiant
  </h1>

  <div style="text-align: center; max-width: max-content;" *ngIf="!masterAddIdentifiant">
    Veuillez saisir votre identifiant afin d’accéder à l’application
  </div>
  <div style="text-align: center; max-width: max-content;" *ngIf="masterAddIdentifiant">
    Veuillez saisir le nouvel identifiant à enregistrer permettant d’accéder à l’application
  </div>
  
  <br>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  
    <div class="row">
      <div class="col-sm">
        <input type="text" id="identifiant" class="form-control" formControlName="identifiant">
      </div>
    <br> 
    </div> 
  
    <div class="col" style="display: block;">
      <div style="color:red" *ngIf="!authForm.valid && authForm.touched">
        Veuillez saisir une valeur valide.
      </div>
      <div style="justify-content: center; margin: 10%;">
        <button type="submit" class="btn btn-info" [disabled]="!authForm.valid" *ngIf="!masterAddIdentifiant">Se connecter</button>
        <button type="submit" class="btn btn-success" [disabled]="!authForm.valid" *ngIf="masterAddIdentifiant">Enregistrer le nouvel identifiant</button>
      </div>
      <button mat-button type="button" class="masterButton" style="justify-content: center;" (click)="checkAsMaster()" *ngIf="!masterAddIdentifiant"> Se connecter en tant que maître ? </button>
      
    </div>

  <div class="error-div" *ngIf="showError && authForm.get('identifiant').value.length > 0">
    L'identifiant saisi n'est pas reconnu. Veuillez réessayer ou contacter un administrateur.
</div>
    
  </form>

  <button mat-button class="btn btn-danger" style="justify-content: center;" type="button" (click)="cancel()" *ngIf="masterAddIdentifiant">Annuler</button>

</div>


  <!-- <button style="justify-content: center;" type="button" (click)="createIdentifiant()" >Vers home</button> -->
