  <div style="height: 100vh;">

    <mat-toolbar class="myToolbar hideForPrint" fxLayout="row" color="primary" 
    fxLayoutAlign="space-between center" fxLayoutAlign.xs="end center">    
        <button mat-button  [routerLink]="item.redirection" routerLinkActive="active" *ngFor="let item of menuItems">
          <mat-icon color="warn">{{item.icon}}</mat-icon>
            <!-- <mat-icon class="mr">{{item.icon}}</mat-icon> -->
            {{item.label}}
        </button>

        <button mat-button (click)="alertWithWarning()" style="color:rgb(187, 77, 36);">Déconnexion</button>
    </mat-toolbar>
    
      <router-outlet fxFlexFill></router-outlet>

    </div>
    

    
