<div class="container">

  <div>
    <img src="./assets/planning_001.jpg">
  </div>

  <h1 class="title">
    Bienvenue sur votre gestionnaire de planning
  </h1>

  <div style="text-align: center; max-width: max-content;">
    Pour plannifier vos chauffeurs, vous devez d’abord remplir les données nécessaires dans l'onglet "Données".

    Par la suite, ces données seront accessibles lors de l’ajout de trajet (au clic sur une plage horaire du planning).

    Pas de panique, les trajets sont modifiables grâce à un "glisser-déposer". Ils peuvent également être modifiés ou
    supprimés en cliquant dessus.

    Pour plus de détails sur la marche à suivre, veuillez consulter le guide utilisateur.
  </div>
  <br>
  <button type="button" class="btn btn-info" routerLink="/bottom-nav/guide">Guide utilisateur</button>

</div>